/* I don't know what I did here but I think you can look at it and give feedbacks */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
  }
  
  body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif,
      sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin-left: 80px;
    margin-right: 80px;
    width: 1280px;
  }
  
  header {
    display: flex;
    padding: 32px, 80px;
    padding-bottom: 24px;
    height: 96px;
    justify-content: space-between;
  }
  
  .logo {
    width: 40px;
    height: 40px;
  }
  
  span {
    background: linear-gradient(
      94deg,
      #b16cea 8%,
      #ff5e69 40%,
      #ff8a56 77%,
      #ffa84b 91%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: TangoSans;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 123.958%;
    letter-spacing: -1.28px;
  }
  
  nav {
    display: flex;
    width: 1280px;
    height: 96px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
  }
  
  h1 {
    width: 800px;
    color: var(--Gray-25, #fcfcfd);
    font-family: TangoSans;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 123.958%; /* 79.333px */
    letter-spacing: -1.28px;
  }
  
  h2 {
    color: #fff;
    margin-bottom: 10px;
    font-family: satoshi;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  
  h3 {
    width: 800px;
    color: var(--Gray-25, #fcfcfd);
    font-family: TangoSans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 123.958%; /* 79.333px */
    letter-spacing: -1.28px;
  }
  
  button {
    padding-bottom: 12px;
    display: flex;
    padding: 16px 28px;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    border: 1px solid var(--Gray-25, #fcfcfd);
    background: var(--Gray-900, #101828);
    /* Shadow/xs */
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  }
  
  .herobutton {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    gap: 16px;
  }
  
  .primary_button {
    background-color: #ddd;
    font-family: satoshi;
    font-weight: 500;
  }
  
  .secondary_button {
    background-color: #f4f4f4;
    font-family: satoshi;
    font-weight: 500;
  }
  
  p {
    color: var(--Gray-300, #d0d5dd);
    font-family: Satoshi;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    padding-top: 24px;
    padding-bottom: 24px;
    width: 820px;
  }
  
  .project {
    margin-bottom: 20px;
    padding-top: 32px;
  }
  
  section {
    padding-top: 40px;
  }
  
  .project_section {
    position: relative;
    width: 100vw;
    height: 50vh;
    border-color: #fff;
    border-radius: 20px 20px 0px 0px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  }
  
  .project_image1 {
    position: relative;
    width: 1120px;
    height: 440px;
    border-radius: 20px 20px 0px 0px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  }
  
  .project1 {
    display: flex;
    position: absolute;
    top: 1000px;
    width: 1120px;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 0px 20px 20px;
    border: 1px solid var(--Gray-300, #d0d5dd);
    background: var(--Gray-25, #fcfcfd);
  }
  
  .project2 {
    display: flex;
    position: absolute;
    top: 1000px;
    width: 1120px;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 0px 20px 20px;
    border: 1px solid var(--Gray-300, #d0d5dd);
    background: var(--Gray-25, #fcfcfd);
  }
  
  .project3 {
    display: flex;
    position: absolute;
    top: 1000px;
    width: 1120px;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 0px 20px 20px;
    border: 1px solid var(--Gray-300, #d0d5dd);
    background: var(--Gray-25, #fcfcfd);
  }
  
  footer {
    display: flex;
    width: 1280px;
    height: 223px;
    padding: 72px 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
    flex-shrink: 0;
  }
  